*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw+1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
    --gallery-gap: calc(var(--index) * 5)
}

@font-face {
    font-family: releway-c;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}

h1,h2,h3{
    font-family: outfit-c;
}

.content,
.hero,
.main-header,
.gallery>*{
    will-change: transform;
    
}

body{
    background-image: url(../img/bg.jpg);
    background-size: 50px;
    color: #fafafa;
    font-family: releway-c;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.hero{
    z-index: -1;
    width: calc(var(--index) * 36);
    position: absolute;
    left: 37vw;
    top: 8vh;
}

.main-header{
    height: 100vh;
}

.container{
 padding: 0 7vw;
}

.main-title{
    font-size: calc(var(--index) * 8);
    position: absolute;
    width: min-content;
    bottom: 12vh;
    line-height: .9;
}

.gallery{
    padding: calc(var(--index) * 8) 0;
    display: flex;
    >*{
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.gallery__item{
    max-width: calc(var(--index) * 21);
    margin-bottom: var(--gallery-gap);
    max-height: 90vh;
    cursor: pointer;
    text-align: center;
    img{
        max-width: calc(var(--index) * 21);
        border-radius: 8px;
    }
}


.gallery__left{
    margin-top: calc(var(--gallery-gap)*1.75);
}

.gallery__right{
    .gallery__item{
        margin: 0;
        margin-top: var(--gallery-gap);
    }
}

.text-block{
    color: var(--color-text);
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.text-block__h{
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--color-header);
    margin-bottom: 1.5rem;
}

.text-block__p{
    line-height: 1.75;
}

.modal{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.modal-conatiner{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    border: 0px;
    display: flex;
    width: 800px;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    img{
        border-radius: 8px 8px 0px 0px;
        border: 0px;
        width: 100%;
    }
    .project-descr{
        gap: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000;
    }
}









