html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

svg {
  overflow: visible;
  height: 100%;
  transform: translateZ(0);
}

path {
  stroke-width: 2;
  stroke: black;
}

.container {
  min-width: 100%;
  min-height: 100%;
  background-color: #ffc4df;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s;
}

.planets {
  min-width: 100%;
  height: 400px;
  position: relative;
}

.planet {
  position: absolute;
}

#first {
  left: calc(50% - 50px);
}

#second {
  left: calc(50% - 50px + 266px);
  top: 136px;
}