html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  min-width: 100%;
  min-height: 100%;
  background-color: #ffc4df;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
}

.planets {
  min-width: 1400px;
  height: 700px;
  position: relative;
}

.planet {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  width: 120px;
  height: 120px;
}

#first {
  left: 794px;
}

#second {
  left: 1209px;
  top: 332px;
}

#third {
  left: 970px;
  top: 591px;
}

#fourth {
  left: 210px;
  top: 616px;
}

#fifth {
  left: -72px;
  top: 366px;
}

#sixth {
  left: 209px;
  top: 26px;
}